@charset "utf-8";


.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: rgb(124, 12, 105);
    margin: 0;
    padding-top: 50px; /* 画面上部から50px */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'misaki_gothic_2nd', cursive;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-column {
    width: 50%;
    padding: 20px;
}

.right-column {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipureko-image {
    width: 400px;  /* 横500px */
    height: 125px; /* 縦150px */
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 0 rgb(159, 0, 255);
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(159, 0, 255);
}

.tipureko-image:hover {
    transform: translateY(4px);
    box-shadow: none;
  }

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; /* 画像が全体をカバーするように */
    opacity: 0.5; /* 必要に応じて透明度を調整 */
}

.half-width {
    width: 100%;
}

.record-movie {
    max-width: 100%;
    height: auto;
}

.bpm-form {
    padding: 15px;
    margin-bottom: 4cqb;
    color: rgb(159, 0, 255);
    background-color: black;
    /* background-color: rgb(47, 76, 124); */
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(159, 0, 255);
    box-shadow: 0px 4px 0 rgb(159, 0, 255);
}

.bpm-form:hover {
    transform: translateY(4px);
    box-shadow: none;
  }

.bpm-text {
    padding-bottom: 5px;
    font-size: 35px;
    font-family: "DotGothic16";
    font-weight: bold;
    letter-spacing: 0.2em;
}

.wavefile-form {
    background-color: black;
    padding: 15px;
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(159, 0, 255);
    box-shadow: 0px 4px 0 rgb(159, 0, 255);
}

.wavefile-form:hover {
    transform: translateY(4px);
    box-shadow: none;
}

@font-face {
    font-family: 'misaki_gothic_2nd';
    src: url('../static/fonts/misaki_gothic_2nd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.list-title{
    color: rgb(230, 189, 124);
    font-size: 50px;
    font-family: 'misaki_gothic_2nd', cursive;
}

.upload-title{
    color: rgb(230, 189, 124);
    font-size: 40px;
    font-weight: bold;
}
