<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Generate and Play Sound</title>
</head>    
<body>
    <img class="background-image" src="../static/images/haikei2.png" alt="background-image">
    <img class="tipureko-image" src="../static/images/tipureko2.png" alt="tipureko">
    <div class="content">
        <div class="left-column">
            <form id="soundForm" enctype="multipart/form-data">
                <label for="bpm">BPM:</label>
                <input type="number" id="bpm" name="bpm" value="130" required class="half-width"><br><br>

                <label for="waveformFile">楽譜を読み込む:</label>
                <div class="custom-file-input">
                    <input type="file" id="waveformFile" name="waveformFile" accept=".py" required>
                    <label for="waveformFile">ファイルを選択</label>
                </div><br><br>

                <button type="submit">再生</button>
            </form>

            <button onclick="window.location.href='/list'">みんなの作品</button>
        </div>
        <div class="right-column">
            <img src="../static/images/dot-record.gif" alt="record" class="record-moive">
        </div>
    </div>

    <script>
        document.getElementById('soundForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(document.getElementById('soundForm'));

            fetch('/generate_sound', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                const audio = new Audio(URL.createObjectURL(blob));
                audio.play();
            });
        });
    </script>
</body>
</html>
