<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Uploaded Waveform Data</title>
</head>
<body>
    <img class="background-image" src="../static/images/haikei2.png" alt="background-image">
    <h1 class="list-title">みんなの作品</h1>
    <button class="works-button" onclick="window.location.href='/'">チプレコへ戻る</button><br>
    <button class="works-button" onclick="window.location.href='/upload'">作品を投稿する</button><br>
    <ul>
        {% for file in files %}
        <li class="list">
            <strong class="list-str">Username:</strong> {{ file.username }}<br>
            <strong class="list-str">Song Name:</strong> {{ file.songname }}<br>
            <strong class="list-str">おすすめBPM:</strong> {{ file.recommended_bpm }}<br>
            <a class="download" href="{{ url_for('download_waveform', filename=file.filename) }}">楽譜をダウンロード</a>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>


