<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Uploaded Waveform Data</title>
</head>
<body>
    <img class="background-image" src="../static/images/haikei2.png" alt="background-image">
    <h1 class="list-title">みんなの作品</h1>
    <ul>
        {% for file in files %}
        <li class="list">
            <strong>Username:</strong> {{ file.username }}<br>
            <strong>Song Name:</strong> {{ file.songname }}<br>
            <strong>おすすめBPM:</strong> {{ file.recommended_bpm }}<br>
            <a href="{{ url_for('download_waveform', filename=file.filename) }}">楽譜をダウンロード</a>
            <form action="{{ url_for('delete_waveform', filename=file.filename) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='/'">チプレコへ戻る</button>
    <button onclick="window.location.href='/upload'">作品を投稿する</button>
</body>
</html>


