<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Upload Waveform Data</title>
</head>
<body>
    <img class="background-image" src="../static/images/haikei2.png" alt="background-image">
    <h1 class="upload-title">作品を投稿する</h1>
    <form class="upload-form" id="uploadForm" enctype="multipart/form-data">
        <label class="upload-text" for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label class="upload-text" for="songname">Song Name:</label>
        <input type="text" id="songname" name="songname" required><br><br>

        <label class="upload-text" for="recommended_bpm">おすすめBPM:</label>
        <input type="number" id="recommended_bpm" name="recommended_bpm" required><br><br>

        <label class="upload-text" for="waveformFile">曲のファイル:</label>
        <input class="upload-text" type="file" id="waveformFile" name="waveformFile" accept=".py" required><br><br>

        <button class="upload-button" type="submit">投稿</button>
    </form><br>

    <button class="works-button" onclick="window.location.href='/'">チプレコへ戻る</button><br>
    <button class="works-button" onclick="window.location.href='/list'">みんなの作品</button>

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(document.getElementById('uploadForm'));

            fetch('/upload_waveform', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('File uploaded successfully!');
                } else {
                    alert('File upload failed.');
                }
            });
        });
    </script>
</body>
</html>

